# Archivo de ejemplo. No colocar credenciales reales aquí.

GENERIC_TIMEZONE=America/Bogota
TZ=America/Bogota
N8N_SECURE_COOKIE=false

# Si luego usan Telegram:
TELEGRAM_BOT_TOKEN=COLOCAR_TOKEN_AQUI

# Si luego usan otros servicios:
GOOGLE_CREDENTIALS=COLOCAR_CREDENCIALES_AQUI